{% extends 'listings/base.html' %}

{% block content %}

    <h1> Bienvenue sur la page du groupe {{ listing.title}}</h1>
    <ul>
        <li> L'identifiant est {{listing.id}}</li>
        <li> Le type est  {{title.type}}</li>
        <li> Il a été créé en {{band.year_formed}}</li>
        {% if band.official_homepage %}
            <li>Son site internet est <a href="https://foofighters.com/"> {{band.official_homepage}}</a> </li>
        {% endif %}
    </ul>
    <p> {{ band.biography }} </p>

    <h3>Retour aux <a href="{% url 'band-list' %}">groupes</a> </h3>
{% endblock %}