{% extends 'listings/base.html' %}

{% block content %}

    <h1>
        Bienvenue sur la page du groupe
    </h1>
     <h3>
            {{ listing.title}}
     </h3>
    <ul>
        <li> L'identifiant est {{listing.id}} </li>
        <li> Le type est  {{listing.type}} </li>

        {% if listing.year %}
        <li> Il a été créé en {{listing.year}} </li>
        {% endif %}

        <li> Cette annonce est relative au groupe {{listing.band}} </li>
    </ul>

    <h3>Retour aux <a href="{% url 'listing-list' %}">annonces</a> </h3>
{% endblock %}